<h2>商品一覧</h2>

<%= link_to new_admin_item_path do %>
追加
<% end %>

<table>
 <thead>
   <tr>
     <th>商品ID</th>
     <th>商品名</th>
     <th>税抜価格</th>
     <th>ジャンル</th>
     <th>ステータス</th>
     <th colsapn="5"></th>
   </tr>
 </thead>
 <tbody>
 <% @items.each do |item| %>
 <tr>
   <td><%= item.id %></td>
   <td><%= link_to admin_item_path(item.id) do %>
   <%= item.name %>
   <% end %>
   </td>
   <td><%= item.price %></td>
   <td><%= item.genre.name %></td>
   <td><% if item.is_active == true %>
       <p>販売中</p>
       <% else %>
       <p>販売停止中</p>
       <% end %>
   </td>
 </tr>
 <% end %>
 
 </tbody>
</table>
<%= paginate(@items) %>
