<h3>商品新規登録</h3>

<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>

<table>
  <tr>
   <th><label for="item_image">商品画像</label></th>
   <td><%= f.file_field :image, accept: "image/*" %></td>
  </tr>
  
  <tr>
   <th><label for="item_name">商品名</label></th>
   <td><%= f.text_field :name, placeholder:"商品名" %></td>
  </tr>
  
  <tr>
   <th><label for="introduction">商品説明</label></th>
   <td><%= f.text_area :introduction, size: "20x5", placeholder:"ここに説明文を記述します" %></td>
  </tr>
  
  <tr>
   <th><label for="genre">ジャンル</label></th>
   <td><%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--" %></td>
  </tr>
  
  <tr>
   <th><label for="price">税抜価格</label></th>
   <td><%= f.text_field :price, placeholder:"1000" %>円</td>
  </tr>
  
  <tr>
    <th><label for="is_active">販売ステータス</label></th>
    <td><%= f.radio_button :is_active, true, checked: true %>
      <label for="is_active">販売中</label>
      <%= f.radio_button :is_active, false %>
      <label for="is_active">販売停止中</label>
    </td>
  </tr>
  
  <tr>
    <th><%= f.submit "新規登録" %></th>
  </tr>
<% end %>
</table>
