<div class="container">
<h2 class="col-md-5  my-3">会員一覧</h2>

<div class="row d-fiex justify-content-center">
  
 <table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      <th colsapn="4"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td class="info col-xs-1"><%= customer.id %></td>
      <td class="text-left"><%= link_to admin_customer_path(customer) do %>
         <%= customer.last_name %><%= customer.first_name %>
        <% end %>
      </td>
      <td><%= customer.email %></td>
      <td><% if customer.is_deleted == true %>
          <p>退会</p>
        <% else %>
          <p class="text-success">有効</p>
        <% end %>
      </td>
    </tr>
    <% end %>
    
   </tbody>
  </table>
 </div>
 <%= paginate(@customers) %>
</div>
