<div class="container">

   <div class="row m-4">
    <div class="col-md-1"></div>
     <h5 style="background-color:#dcdcdc;">注文履歴詳細</h5>
   </div>

  <div class="row">
   <div class="col-md-11">
    <table class="table table-borderless">

    <tr>
      <th>購入者</th>
      <td>
        <%=link_to admin_percustomer_path(@order.id),class: "text-dark" do %>
        <%= @order.customer.full_name %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th>注文日</th>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>

    <tr>
      <th>配送先</th>
      <td>〒<%= @order.postal_code %>
            <%= @order.address %><br>
            <%= @order.name %>
      </td>
    </tr>

    <tr>
      <th>支払方法</th>
      <td><%= @order.method_of_payment_i18n %></td>
    </tr>

    <tr>
           <!--注文ステータスの更新フォーム↓-->
      <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
      <th><%= f.label :status, "注文ステータス" %></th>
      <td>
        <%= f.select :status, Order.statuses_i18n.invert %>
        <%= f.submit "更新", class: "btn btn-success ml-5" %>
      <% end %>
      </td>
    </tr>

    </table>
   </div>
  </div>

  <div class="row">
    <div class="col-md-9">
     <table class="table table-borderless">
       <thead class="bg-light">
         <tr>
           <th>商品名</th>
           <th>単価（税込）</th>
           <th>数量</th>
           <th>小計</th>
           <th>製作ステータス</th>
         </tr>
       </thead>

       <tbody>
         <% @ordered_goods.each do |ordered_good| %>
          <tr>
           <td><%= ordered_good.item.name %></td>
           <td><%= ordered_good.item.with_tax_price %></td>
           <td><%= ordered_good.amount %></td>
           <td><%= ordered_good.item.with_tax_price * ordered_good.amount %></td>
           <td>
             <!--製作ステータスの更新フォーム　each文の中にあるためモデルの所は@はつけない-->
             <%= form_with model: ordered_good, url: admin_ordered_good_path(ordered_good.id), method: :patch do |f| %>
             <%= f.select :making_status,OrderedGood.making_statuses_i18n.invert %>
             <%= f.submit "更新", class: "btn btn-success ml-5" %>
             <% end %>
           </td>
         </tr>
         <% end %>
        </tbody>
      </table>
     </div>
     <div class="col-md-3" style="margin-top:100px;">
       <table class="table table-borderless">
         <tr>
           <th>商品合計</th>
           <td><%= @total_price.to_s(:delimited) %>円</td>
         </tr>
         <tr>
           <th>送料</th>
           <td><%= @order.postage %>円</td>
         </tr>
         <tr>
           <th>請求金額合計</th>
           <td class="font-weight-bold"><%= @order.billing_amount.to_s(:delimited) %>円</td>
         </tr>
       </table>
     </div>
  </div>
</div>
