<div class="container">
  <div class="row m-5">
    <div class="col-lg-">
      <h5 style="background-color:#dcdcdc;">ショッピングカート</h5>
    </div>
            <% if @cart_items.present? %>
    <div class="col-lg-6"></div>
    <div class="col-lg-3">
      <%= link_to "カートを空にする", cart_items_path, method: :delete, "data-confirm" => "カートを空にしてよろしいですか？", class: "btn btn-danger" %>
    </div>
  </div>
  
  <div class="row">
    
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= image_tag cart_item.item.get_image(55,43) %> <%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td> <!--↓数量変更のフォーム（update） -->
              <%= form_with model:cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
              <%= f.number_field :amount, size: 10, min: 1 %>
              <%= f.submit "変更", class: "btn btn-success" %>
              <% end %>
            </td>
            <td><%= cart_item.subtotal %></td>
            <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, "data-confirm" => "#{cart_item.item.name}を返してよろしいですか？", class: "btn btn-danger" %></td>
          </tr>
            <% @total_amount += cart_item.subtotal %>
          <% end %>
        </tbody>
     </table>
    </div>
    
    <div class="row">
      <div class="col-lg-3">
       <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-3">
        
        <table class="table table-bordered">
          <tr>
            <th class="bg-light">合計金額</th>
            <td><%= @total_amount %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="text-center mt-5"><%= link_to "情報入力に進む", new_order_path, class: "btn btn-success text-center" %></div>
    
    <% else %>
    <div class="row m-5">
      <h1>お客様のカートに商品はありません。</h1>
      <p><%= link_to "商品はこちらです！", items_path, class: "btn btn-primary" %></p>
    </div>
    <% end %>
    
</div>
