<div class="container-fluid">
  
  <div class="row mt-4 mb-2">
    <div class="col-sm-2"></div>
    <div class="col-sm-">
      <h5 style="background-color:#dcdcdc;">注文情報確認</h5>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
     <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        </thead>
         <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="font-weight-bold"><%= image_tag cart_item.item.get_image(55,43) %> <%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %></td>
          </tr>
            <% @total_amount += cart_item.subtotal %>
          <% end %>
        </tbody>
       </table>
     </div>
     
     <div class="col-sm-2">
       <table class="table table-bordered border-dark">
         <tr class="thead-light">
           <th>送料</th>
           <td><%= @order.postage %></td>
         </tr>
         <tr class="thead-light">
           <th>商品合計</th>
           <td><%= @total_amount %></td>
         </tr>
         <tr class="thead-light">
           <th>請求金額</th>
           <td><%= @total_amount + @order.postage %></td>
         </tr>
       </table>
     </div>
     
    </div>
    
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-8 mt-3">
        <table class="table table-borderless">
          <tr>
           <th class="font-weight-bold">支払方法</th>
           <td><%= @order.method_of_payment_i18n %></td>
          </tr>
          <tr>
           <th class="font-weight-bold">お届け先</th>
           <td>〒<%= @order.postal_code %>  <%= @order.address %><br><%= @order.name %></td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-center"> <!-- local: true エラーメッセージ関係ある？ -->
        <%= form_with model: @order, url: create_order_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :method_of_payment %>
        <%= f.hidden_field :billing_amount %>
        <%= f.submit "注文を確定する", class: "btn btn-success" %>
        <% end %>
      </div>
      <div class="col-sm-4"></div>
    </div>
</div>
