<div class="container">
  
  <div class="row">
    <div class="col-xl-2">
       <h5 style="background-color:#dcdcdc;", class="my-4">ログイン</h5>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xl-4 ml-4">
       <h5 style="background-color:#dcdcdc;", class="my-4">会員の方はこちらからログイン</h5>
    </div>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

   <div class="col-md-7 offset-1">
         <table class="table table-borderless">
           
        <tr>
          <div class="form-group">
            <th><%= f.label :メールアドレス, class: "form-label" %></th>
            <td><%= f.email_field :email, autofocus: true, placeholder:"email", autocomplete: "email", class: "form-control" %></td>
          </div>
        </tr>
        
         <tr>
           <div class="form-group">
              <th><%= f.label :パスワード, class: "form-label" %></th>
              <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
           </div>
         </tr>
         
         <tr>
            <div class="form-group">
              <th></th>
             <td><%= f.submit "ログイン" ,class: "btn btn-primary px-4" %></td>
            </div>
         </tr>
        </table>
    </div>
  
<% end %>

  <div class="row">
    <div class="col-xl-4 ml-4">
     <h5  style="background-color:#dcdcdc;", class="my-4">会員登録がお済みでない方</h5>
    </div>
  </div>
  <p class="offset-2"><%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。</p>
</div>
