<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">

    <%= link_to root_path do %>
    <h1 class="border border-dark text-dark px-5">LOGO</h1>
    <% end %>

    <button class="navbar-toggler mx-5" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">

    <% if admin_signed_in? %>

    <li class="nav-item">
    <%= link_to "商品一覧", admin_items_path,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>
    <li class="nav-item">
    <%= link_to "会員一覧", admin_customers_path,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>
    <li class="nav-item">
    <%= link_to "注文履歴一覧", admin_root_path,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>
    <li class="nav-item">
    <%= link_to "ジャンル一覧", admin_genres_path,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>
    <li class="nav-item">
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>

    <% elsif customer_signed_in? %>
    <li class="nav-item active"><!--helperでfull_nameは定義してる-->
    <h5 class="nav-link text-dark">ようこそ、<%= full_name(current_customer) %>さん!</h5>
    </li>
    <li class="nav-item">
    <%= link_to "マイページ", my_page_path,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>
    <li class="nav-item">
    <%= link_to "商品一覧", items_path,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>
    <li class="nav-item">
    <%= link_to "カート", cart_items_path,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>
    <li class="nav-item">
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>

    <% else %>

    <li class="nav-item">
    <%= link_to "About", about_path,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>
    <li class="nav-item">
    <%= link_to "商品一覧", items_path,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>
    <li class="nav-item">
    <%= link_to "新規登録", new_customer_registration_path,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>
    <li class="nav-item">
    <%= link_to "ログイン", new_customer_session_path,class: "btn btn-outline-secondary mx-4 my-3" %>
    </li>
    <% end %>
     </ul>
    </div>
  </nav>
  <% if notice %>
  <p class="text-center text-dark bg-success"><%= notice %></p>
  <% end %>

<%= render "layouts/search" %>

</header>

  <body>
    <%= yield %>
  </body>

  <footer class="border border-dark fixed-bottom mb-3"></footer>

</html>
