<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    
    <%= link_to root_path do %>
    <h1>LOGO</h1>
    <% end %>
    
    <% if admin_signed_in? %>
    <%= link_to "商品一覧", admin_items_path %>
    <%= link_to "会員一覧", admin_customers_path %>
    <%= link_to "注文履歴一覧", admin_root_path %>
    <%= link_to "ジャンル一覧", admin_genres_path %>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    <% elsif customer_signed_in? %>
    <%= link_to "マイページ", my_page_path %>
    <%= link_to "商品一覧", items_path %>
    <%= link_to "カート", cart_items_path %>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
    <% else %>
    <%= link_to "About", about_path %>
    <%= link_to "商品一覧", items_path %>
    <%= link_to "新規登録", new_customer_registration_path %>
    <%= link_to "ログイン", new_customer_session_path %>
    <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
